:root {
    --dark-font-color: #1a1a1a;
    --mid-dark-font-color: #262626;
    --light-dark-font-color: #464646;

    --light-font-color: #fafafa;
    --mid-light-font-color: #bfbfbf;
    --dark-light-font-color: #7a7a7a;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--dark-light-font-color);
    background-color: var(--mid-dark-font-color);
}

.inner_div {
    padding: 5px;
    width: fit-content;
}

h1 {
    color: var(--light-font-color);
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
}

.small_text {
    color: var(--mid-light-font-color);
}

.pair {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    background-color: var(--dark-font-color);
    color: var(--light-font-color);
    border-bottom: 1px solid var(--dark-light-font-color);
    user-select: none;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 150px;
    height: 25px;
    margin: 0;
    padding: 5px 10px 5px 10px;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table_contents {
    margin-top: 10px;
    background-color: var(--dark-font-color);
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 250px;
}

/* Width of the scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--dark-font-color);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--light-dark-font-color);
    overflow: hidden;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--dark-light-font-color);
}

.table_contents> :last-child {
    border-bottom: none;
}

.row {
    font-weight: 300;
    color: var(--mid-light-font-color);
}

.flat {
    border-radius: 0px;
}

.input {
    background-color: transparent;
    border: none;
    outline: none;
    background: none;
    height: 25px;
    color: var(--mid-light-font-color);
    padding: 5px;
    margin-left: 5px;
}

.add_new {
    text-align: center;
    margin: 0;
    margin-top: 5px;
    cursor: pointer;
    user-select: none;
    position: relative;
    transition: color 150ms ease;
}

.add_new:hover {
    color: var(--light-font-color);
}

.delete {
    filter: grayscale(100%);
    cursor: pointer;
    transition: filter 150ms ease;
}

.delete:hover {
    filter: none;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    position: relative;
    border: none;
    background-color: var(--dark-font-color);
    color: var(--mid-light-font-color);
    background-color: var(--mid-light-font-color);
    color: var(--dark-font-color);
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    height: 35px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 150ms ease, color 150ms ease;
}

.button:hover {
    background-color: var(--dark-font-color);
    color: var(--mid-light-font-color);
}

.ghost {
    background-color: transparent;
    color: var(--mid-light-font-color);
    border: 1px solid var(--mid-light-font-color);
    transition: border 150ms ease, color 150ms ease;
}

.ghost:hover {
    color: #d32f2f;
    border: 1px solid #d32f2f;
    background-color: transparent;
}

.checked {
    top: 6px;
    left: 0;
    position: absolute;
    z-index: -1;
    transition: transform 150ms ease;
}

.animate {
    transform: translateX(-30px);
}